.keyboard-block {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  border-radius: 10px;
  background-color: lightgray;
  margin: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
