main {
  margin: 50px 0px 20px 0px;
}

.timer {
  width: 100vw;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  margin-left: -10px;
}

.board-column {
  width: 60px;
  height: 60px;
  border: 3px solid var(--color-lightgray);
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate-boardItem {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes rotate-span {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
